streamlit
pandas
google-generativeai
gspread
fpdf2
python-docx
streamlit-drawable-canvas
Pillow
numpy
google-api-python-client
google-auth
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch